<div>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select multiple [(value)]="selected" (valueChange)="test()">
      <mat-option
        *ngFor="let brand of brandHomeAppliances; let i = index"
        [value]="brand"
        >{{ brand }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-card *ngIf="selected">
    <mat-card class="example-card" *ngFor="let card of filteredHomeAppliances">
      <mat-card-header>
        <mat-card-title>{{ card.equipment }}</mat-card-title>
        <mat-card-subtitle>{{ card.brand }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ card.id }}</p>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
